body {
    font-family: 'Raleway', arial, sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.7em;
    margin: 0 auto;
    text-align: center;
}

header {
    background-color: rgb(228, 0, 43);
    color: white;
    padding: 2rem;
}

header a:visited {
    color: white;
}

h1 {
    font-weight: 300;
}

h2 {
    color: rgb(210, 43, 43);
}

.highlight {
    color: rgb(210, 43, 43);
}

input {
    border-radius: 12px;
    font-family: 'Raleway', arial, sans-serif;
    padding: 1rem;
}

button {
    background-color: rgb(0, 163, 108);
    border-radius: 12px;
    border-width: 0;
    color: white;
    font-family: 'Raleway', arial, sans-serif;
    font-weight: 600;
    margin-left: 1rem;
    padding: 1rem;
    text-transform: uppercase;
}

main {
    max-width: 940px;
    min-height: 600px;
    margin: 0 auto;
    padding: 2rem;
}

main img {
    border-radius: 3em;
    margin: .5rem 0;
    max-width: 100%;
}

#artwork-info span {
    display: block;
}

/* manipulates the messaging for the image not being a public domain */
#artwork-info p {
    color: rgb(152, 133, 88);
    font-style: italic;
}

#artist-info span {
    display: block;
}

footer {
    background-color: rgb(228, 0, 43);
    color: white;
    padding: .5rem 1rem;
}